
* {
margin: 0;
padding: 0;
}

body {
background-color: black;
color: white;
font-family: 'Poppins', sans-serif;
}

nav {
display: flex;
justify-content: space-around;
align-items: center;
height: 90px;
background-color: rgb(26, 26, 61);
}

nav ul {
display: flex;
justify-content: center;
}

nav ul li {
list-style: none;
margin: 0px 23px;
}

nav ul li a {
text-decoration: none;
color: white;
}

nav ul li a:hover {
color: rgb(106, 126, 206);
font-size: 1.5rem;
}

 .title {
     text-align: center;
     margin: 20px 0;
     color: rgb(185, 128, 88);
 }

 .left {
     font-size: 1.5rem;
     display: flex;
     align-items: center;
 }

 .left img {
     height: 80px;
     margin-right: 10px;
     background-color: black;
     border-radius: 100%;
 }

 .box {
    border: 2px solid rgb(255, 123, 0);
    padding: -13px 500px -px 400px;
    margin: 1px 593px 0px 603px;
text-align: center;
}
 

 .box ul {
     list-style-type: none;
     padding: 89px;
     margin: 24px;
 }

 .box ul li {
     margin: 10px 0;
 }

 .box ul li div {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .box ul li img {
     margin-right: 10px;
     height: 30px;
     width: 30px;
 }

 .box ul li p {
     margin: 0;
 }
 .footer{
display: flex;
padding: 23px 122px;
justify-content: space-evenly;
background-color: blueviolet;
margin-top: 130px;
}

.footer ul{
list-style: none;
}

.footer > div{
width: 223px;
}
.rights{
text-align: center;
background-color: blueviolet;
color: rgb(193, 174, 174);
padding: 15px 0px;
}