* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(26, 26, 61);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(106, 126, 206);
    font-size: 1.5rem;
}

.left {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.left img {
    height: 80px;
    margin-right: 10px;
    background-color: black;
    border-radius: 100%;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 110px 0;
    align-items: center;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 3rem;
    margin: 120px 0;
}
.leftsection .buttons{
    padding: 50px 0px;
}
.leftsection .buttons .btn a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.leftsection .buttons .btn a:hover{
    color: rgb(106, 126, 206);
    font-size: 1.5rem;
    
}
.btn {
    padding: 20px;
    background-color: rgb(31, 32, 36);
    color: white;
    border-radius: 20px;
    font-size: 1.2rem;
    border: 2px solid white;
    cursor: pointer;

} 

.rightsection {}

.rightsection img {
    width: 80%;
    margin: 50px 0;
}
main hr{
    border: 0;
    background-color: rgb(199, 136, 218);
    height: 1.2px;
    margin: 40px 84px;
}

.purple {
    color: rgb(158, 114, 31);
}

#element {
    color: rgb(158, 114, 31);
}
.text-grey{
    color: gray;
}
.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondsection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px;
    display: flex;
}

.secondsection table, th, td{
    font-size: 20px;
    border: 2px solid white;
    border-radius: 30px;
    margin: 60px 0px 0px 20px;
    padding: 25px 50px;
}

.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
    background-color: blueviolet;
}

.footer ul{
    list-style: none;
}

.footer > div{
    width: 223px;
}
.rights{
    text-align: center;
    background-color: blueviolet;
    color: rgb(193, 174, 174);
    padding: 15px 0px;
}